<div id= "header">
    <div id="company_name">
      <b id="title">REIMBURSEMENTS</b>
      <br>
      <em id='subtitle'>THAT WON'T HAVE YOU REMISS</em>
    </div>
  <div id="loginBox">
    <div>
      <label>USERNAME:</label>
      <input [(ngModel)]="userValue" type="text" id="userIn">
    </div>
    <div>
      <label>PASSWORD:</label>
      <input [(ngModel)]="passValue" type="password" id="passIn">
    </div>
    <div id='button'> 
      <button (click)="submit()" >Login</button> 
  </div>
</div>

